body {
    display: block !important;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid #000000;
}

th, td {
    padding: 5px 20px;
    text-align: auto;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 75%;
}

.info h2 {
    margin-right: 10px;
}

#tableContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#tableContainer table {
    margin-bottom: 20px;
}

.linksMenuBtn img {
    width: 25px;
    height: 25px;
    filter: brightness(0%);
}

.invisibleMargin {
    height: 10px;
    width: 5px;
}