@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;

    font-family: "Heebo", serif;
    position: absolute;
    top: 0;

    background-color: #f2f2f7;
}

button {
    font-family: "Heebo", serif;
}

.title {
    text-align: center;
    margin-bottom: 0;
}

.title img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.greeting {
    color: #585858;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.quotes {
    font-style: italic;
    font-weight: lighter;
}

main {
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 350px;
    overflow-y: auto;
    position: relative;
}


.controls {
    display: flex;
    justify-content: center;
    
    width: 100%;

    position: fixed;
    bottom: 0;
    background-color: #FAFAFA;

    height: 350px;

    box-shadow: 0 0 10px 0 #0000001a;

    border-radius: 15px 15px 0 0;
}

.startStopBtn {
    background: radial-gradient(#2e61d8, #013f8a);
    color: white;
    
    width: 250px;

    text-align: center;
    text-decoration: none;
    font-size: 300%;

    aspect-ratio: 1;
    cursor: pointer;

    border: none;
    border-radius: 50%;

    padding: 0;
    
    position: absolute;
    bottom: 20px;
}

.pastWorkHoursDisplay {
    font-size: 150%;
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #0000001a;

    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
}

.pastWorkHoursDisplay li {
    padding: 10px;
    border-bottom: solid #e1e1e1 2px;
}

.pastWorkHoursDisplay li a {
    text-decoration: none;
    color: #013f8a;
    cursor: pointer;

    position: absolute;
    right: 20px;
}

.pastWorkHoursDisplay li:last-child {
    border-bottom: none;
}

.pastWorkHoursDisplay summary {
    font-weight: bold;
}

.elapsedTime {
    background-color: #585858;
    color: white;

    padding: 20px 50px;
    margin: 0;

    font-weight: bold;
    border-radius: 50px;

    position: absolute;
    bottom: 300px;
}

.elapsedTimeActive {
    background-color: #013f8a;
    background-image: -webkit-linear-gradient(135deg, #ffffff20 25%, transparent 25%, transparent 50%, #ffffff20 50%, #ffffff20 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #ffffff20 25%, transparent 25%, transparent 50%, #ffffff20 50%, #ffffff20 75%, transparent 75%, transparent);
    background-size: 35px 35px;

    animation: ProgressAnimation 2s linear infinite;
}

@keyframes ProgressAnimation { 
    0% {background-position:0 0}
    100% {background-position:35px 35px}
}

.settingsBtn {
    background: radial-gradient(#2e61d8, #013f8a);
    color: white;

    width: 50px;
    height: 50px;

    text-align: center;
    text-decoration: none;
    font-size: 200%;
    font-weight: bold;

    aspect-ratio: 1;
    cursor: pointer;

    border: none;
    border-radius: 50%;

    padding: 0;
    
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.addHoursBtn {
    background: radial-gradient(#2e61d8, #013f8a);
    color: white;

    width: 50px;
    height: 50px;

    text-align: center;
    text-decoration: none;
    font-size: 200%;
    font-weight: bold;

    aspect-ratio: 1;
    cursor: pointer;

    border: none;
    border-radius: 50%;

    padding: 0;
    
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.settingsMenu {
    z-index: 10;
    position: absolute;
    width: 250px;
    height: fit-content;

    padding: 10px 10px;

    background-color: #ffffff;
    border-radius: 15px;

    box-shadow: 0 0 10px 0 #0000001a;

    display: none;
}

.addHoursMenu {
    z-index: 10;
    position: absolute;
    width: 250px;
    height: fit-content;

    padding: 10px 10px;

    background-color: #ffffff;
    border-radius: 15px;

    box-shadow: 0 0 10px 0 #0000001a;

    display: none;
}

.settingsMenu input, .addHoursMenu input {
    border: solid #e1e1e1 2px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
    
    font-family: "Heebo", serif;
    box-shadow: 0 0 10px 0 #0000001a;
}

.settingsMenu button, .addHoursMenu button {
    background-color: #013f8a;
    color: white;

    border: none;
    border-radius: 10px;
    padding: 5px 20px;

    font-family: "Heebo", serif;
    cursor: pointer;
}

.settingsMenu p, .addHoursMenu p {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
}

.settingsMenu a, .addHoursMenu a {
    text-decoration: underline;
    color: #585858;
    font-weight: bold;
}

#stopBtn {
    display: flex;    
    justify-content: center;
    align-items: center;
    display: none;
}

#stopBtn::after {
    content: "";
    background-color: #2e61d87e;
    height: 110%;
    width: 110%;
    position: absolute;
    top: -5%;
    left: -5%;
    border-radius: 50%;
    z-index: -1;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        height: 105%;
        width: 105%;
        top: -2.5%;
        left: -2.5%;
    }
    50% {
        height: 110%;
        width: 110%;
        top: -5%;
        left: -5%;
    }
    75% {
        height: 105%;
        width: 105%;
        top: -2.5%;
        left: -2.5%;
    }
    100% {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}